@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-header" style="text-align: center">
        Listado de Gestores
    </div>
    <div class="card-body">
        <table id="table_id" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>IdGestor</th>
                    <th>Gestor</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/site.js"></script>
}

